{% extends 'master.html' %}

{% block title %}
First Project - Members
{% endblock %}

{% block content %}

 <div class="mycard">
    <h1>Members</h1>
    <ul>
      {% for x in mymembers %}
        <li onclick="window.location = 'details/{{ x.id }}'">{{ x.firstname }} {{ x.lastname }}</li>
      {% endfor %}
    </ul>
  </div>

<p><a href="{% url 'main' %}">HOME</a></p>

<h1>Members</h1>

<ul>
{% for x in mymembers %}
    <li>
        <a href="{% url 'details' x.id %}">
            {{ x.firstname }} {{ x.lastname }}
        </a>
    </li>
{% empty %}
    <li>No members found.</li>
{% endfor %}
</ul>

{% endblock %}